body {
    padding: 0;
    margin: 0;
    background-image: url(img/img.webp);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 0;
    border-radius: 10px;
    background-color: #7a7a7ad0;
    padding: 5px;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    backdrop-filter: blur(2px);
}

.contracapa {
    display: block;
    border-radius: 10px;
    background-image: url(img/jujutsu.jpg);
    background-size: cover;
    background-position: center;
}

td {
    border-radius: 10px;
    border: 0;
    height: 200px;
    width: 120px;
    padding: 5px;
    text-align: center;
}

td img {
    height: 220px;
    width: 140px;
    border-radius: 5px;
}

td:hover {
    animation: rainbow 1s ease-in-out;
}

@keyframes rainbow {
    10% {
        opacity: 0.5;
    }

    20% {
        opacity: 0.6;
    }

    30% {
        opacity: 0.7;
    }

    40% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.85;
    }

    60% {
        opacity: 0.9;
    }

    70% {
        opacity: 0.95;
    }

    80% {
        opacity: 1;
    }
}

#comeco {
    height: 40px;
    width: 400px;
    border: 1px white solid;
    border-radius: 5px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    margin-top: 280px;
}

#comeco:hover {
    font-weight: bolder;
    opacity: 0.8;
    backdrop-filter: blur(5px);
    border: 1px white solid;
    border-radius: 10px;
    transition: 0.5s;
}

#fimdojogo {
    border-radius: 10px;
    width: 500px;
    height: 250px;
    background-color: #7a7a7aee;
    backdrop-filter: blur(2px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#fimdojogo h1 {
    color: rgb(0, 255, 0);
    margin-top: 15%;
}

#fimdojogo input {
    border-radius: 5px;
    margin-left: 5px;
    border: none;
    width: 200px;
    height: 35px;
}

#fimdojogo input:hover {
    width: 250px;
    height: 40px;
    font-weight: bold;
    opacity: 0.7;
    backdrop-filter: blur(2px);
    transition: 0.5s;
}

@media screen and (max-width: 830px) {
    body {
        background-size: auto;
    }

    table {
        width: 700px;
        border-spacing: 0;
    }

    td img {
        transition: 0.5s;
        height: 200px;
        width: 100px;
    }

    #comeco {
        width: 350px;
        margin-top: 275px;
    }
}

@media screen and (max-width: 710px) {
    body {
        background-size: auto;
    }

    table {
        transition: 0.5s;
        width: 650px;
        border-spacing: 0;
    }

    td img {
        height: 200px;
        width: 100px;
    }

    #comeco {
        width: 350px;
        margin-top: 275px;
    }
}

@media screen and (max-width: 650px) {
    body {
        background-size: auto;
    }

    table {
        width: 500px;
        border-spacing: 0;
    }

    td img {
        transition: 0.5s;
        height: 200px;
        width: 80px;
    }

    #comeco {
        width: 350px;
        margin-top: 275px;
    }

    #fimdojogo {
        width: 350px;
    }
}

@media screen and (max-width: 520px) {
    table {
        width: 350px;
        border-spacing: 0;
    }

    td img {
        transition: 0.5s;
        height: 200px;
        width: 80px;
    }

    #comeco {
        width: 350px;
        margin-top: 275px;
    }
}

@media screen and (max-width: 390px) {
    body {
        background-size: auto;
    }

    table {
        width: 250px;
        border-spacing: 0;
    }

    td img {
        transition: 0.5s;
        height: 200px;
        width: 50px;
    }

    #comeco {
        width: 350px;
        margin-top: 250px;
    }
}

@media screen and (max-height: 570px) {
    body {
        background-size: auto;
    }

    table {
        width: 250px;
        height: 350px;
        border-spacing: 0;
    }

    td {
        height: 150px;
        padding: 2px;
    }

    td img {
        transition: 0.5s;
        height: 220px;
        width: 50px;
    }

    #comeco {
        width: 290px;
        margin-top: 255px;
    }
}

@media screen and (max-height: 550px) {
    body {
        background-size: auto;
    }

    table {
        width: 300px;
        height: 350px;
        border-spacing: 0;
    }

    td {
        height: 150px;
        padding: 2px;
    }

    td img {
        transition: 0.5s;
        height: 150px;
        width: 50px;
    }

    #comeco {
        width: 300px;
        margin-top: 200px;
    }
}

@media screen and (max-height: 450px) {
    body {
        transition: 0.5s;
        background-size: auto;
    }

    table {
        width: 350px;
        height: 100px;
        border-spacing: 0;
    }

    td {
        transition: 0.5s;
        height: 100px;
        padding: 2px;
    }

    td img {
        transition: 0.5s;
        height: 100px;
        width: 50px;
    }

    #comeco {
        flex-direction: column;
        width: 350px;
        margin-top: 135px;
    }
}
